name: Build Windows Develop
on:
  push:
    branches:
    - 'master'
    - 'develop'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
    steps: 
    - uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.26.0'
        cache: false
    - name: Install dependencies
      run: |
        go get .
        .\setup_build_env.ps1
    - name: Build
      run: |
        $env:PATH += ";D:\a\gocangateway\gocangateway\llvm-mingw\bin"
        .\build.ps1

